html{
  font-size: 20px;
}

body, ul, li{
  margin: 0;
  padding: 0;
}

.header_logo{
  margin-bottom: 45px;
  margin-left: 101px;
}

.header_logo a{
  text-decoration: none;
  font-size: 5.3rem;
  color: black;
}

.header_logo span{
  color: #4bcaff;
}

.header_menu{
  background-color: #35444f;
  width: 1285px;
  margin-left: 101px;
  margin-bottom: 51px;
}

.header_menu-list{
  margin: 0 auto;
  overflow: hidden;
  width: 75%;
}

.header_menu-item{
  float: left;
  list-style-type: none;
  width: 25%;
  text-align: center;
}

.header_menu a{
  padding-top: 21px;
  padding-bottom: 26px;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  transition: all 500ms ease;
}

.header_menu a:hover{
  background-color: #222f3a;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.main_menu{
  float: left;
  border: 2px solid black;
  margin-left: 110px;
  margin-right: 52px;
  width: 344px;
  overflow: hidden;
}

.main_menu a{
  text-decoration: none;
  color: #54636d;
  font-size: 1.5rem;
  width: 100%;
  display: inline-block;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 42px;
  transition: all 500ms ease;
}

.main_menu a:hover{
  background-color: #dbdbdb;
  color: black;
  padding-left: 69px;
}

.main_menu-list{
  list-style-type: none;
}

.main_img{
  float: left;
  width: 885px;
  height: 529px;
  border: 2px solid black;
  background-image: url(../img/animal.png);
  background-repeat: no-repeat;
  background-position: center;
}

.main_text{
  float: left;
  margin-left: 526px;
  margin-top: 50px;
  width: 815px;
}

.main_text .text-one{
  margin-bottom: 30px;
}

.clearflex{
  clear: both;
}

.footer_menu{
  background-color: #35444f;
  width: 1285px;
  margin-left: 101px;
  margin-top: 51px;
  float: left;
}

.footer_menu-list{
  margin: 0;
  overflow: hidden;
  width: 75%;
}

.footer_menu-item{
  float: left;
  list-style-type: none;
}

.footer_menu a{
  padding-top: 20px;
  padding-bottom: 21px;
  padding-right: 20px;
  width: 100%;
  display: inline-block;
  color: white;
  font-size: 1.1rem;
  transition: all 500ms ease;
  text-align: center;
  text-decoration: none;
}

.info{
  float: left;
  width: 70%;
  padding-left: 20px;
}

.year{
  float: right;
  padding-top: 25px;
  padding-right: 34px;
  font-size: .9rem;
}

.footer_menu a:hover{
  text-decoration: underline #4bcaff;
  color: #4bcaff;
}