body{
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

/*Header*/

.header{
  border-bottom: 1px solid #000;
  font-size: 1rem;
  position: sticky;
  background-color: #fff;
  top: 0;
}

.header__content{
  width: 80%;
  display: flex;
  margin: 0 auto;
  padding: 1em;
  justify-content: space-between;
  align-items: flex-end;
}

.input__city{
  width: 40%;
  background-image: url(../img/pin\ 1.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  font-size: 1rem;
  padding: 10px 30px;
}

.header__buttoms-enter{
  display: inline-block;
  background-color: #EF781A;
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 10px;
}

.header__buttoms-cart{
  display: inline-block;
  background-color: #00D008;
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 10px;
}

.container{
  width: 80%;
  margin: 0 auto;
}

/*Promo*/

.promo{
  background-color: #FFD086;
  display: flex;
  margin-top: 35px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.promo__text{
  width: 40%;
  margin-left: 60px;
}

.promo__text h1{
  font-size: 36px;
  font-weight: 800;
}

.promo__text h3{
  font-size: 20px;
  font-weight: 500;
}

/*Restaurants*/

.section-name{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 33px;
}

.section-name h2{
  font-size: 36px;
}

.input__restaurant{
  width: 40%;
  background-image: url(../img/magnifiying-glass\ 1.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  font-size: 1rem;
  padding: 10px 40px;
  border-radius: 10px;
}

.card-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.card-grid a{
  text-decoration: none;
  color: black;
}

.card{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 10px;
  border-radius: 10px;
}

.mcdonalds {
	background-image: url('../img/McDonalds.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.mafia {
	background-image: url('../img/Mafia.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.kfc {
	background-image: url('../img/KFC.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.pizzahouse {
	background-image: url('../img/pizza-house.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.rukola {
	background-image: url('../img/rukola.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.lvivcroissans {
	background-image: url('../img/lviv\ croissans.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.mamamia {
	background-image: url('../img/mamamia.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.hlebnyi {
	background-image: url('../img/hlebnyi.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.timecafe {
	background-image: url('../img/time\ cafe.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.salateria {
	background-image: url('../img/salateria.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.green13 {
	background-image: url('../img/green13.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.vapiano {
	background-image: url('../img/vapiano.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.papadzhon {
	background-image: url('../img/papadzhon.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.fora {
	background-image: url('../img/fora.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.atb {
	background-image: url('../img/atb.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.silpo {
	background-image: url('../img/silpo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.eva {
	background-image: url('../img/eva.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.popular{
  background-color: #FF800C;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  padding: 11px 21px;
  border-radius: 10px;
  width: 25%;
  text-align: center;
  display: none;
}

.mcdonalds .popular{
  display: block;
  margin-top: 10px;
  margin-bottom: 125px;
  margin-left: 11px;
}

.free__dilevery{
  background-color: #FF0C0C;
  color: #fff;
	font-size: 14px;
	font-weight: 800;
	padding: 11px 21px;
	border-radius: 10px;
  width: 30%;
  text-align: left;
  display: none;
}

.pizzahouse .free__dilevery, .mafia .free__dilevery, .eva .free__dilevery{
  display: block;
  margin-top: 10px;
  margin-bottom: 107px;
  margin-left: 11px;
}

.wings__gift{
  background-color: #FF0C0C;
	color: #fff;
	font-size: 14px;
	font-weight: 800;
	padding: 11px 21px;
	border-radius: 10px;
  width: 55%;
  text-align: center;
  display: none;
}

.kfc .wings__gift{
  display: block;
  margin-top: 10px;
  margin-bottom: 125px;
  margin-left: 11px;
}

.fantom{
  opacity: 1;
  padding: 11px 21px;
	margin-top: 10px;
	margin-bottom: 140px;
	margin-left: 11px;
  width: 55%;
	text-align: center;
	display: block;
}

.mcdonalds .fantom, .mafia .fantom, .kfc .fantom, .pizzahouse .fantom, .eva .fantom{
  display: none;
}

.card__grid-infoplate{
  background-color: #fff;
  width: 100%;
  bottom: 0;
  padding-top: 10px;
  padding-left: 21px;
  box-sizing: border-box;
  border-radius: 0px 0px 10px 10px;
}

.card__name{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 14px;
}

.delivery__info{
  width: 60%;
  margin-bottom: 9px;
}

.delivery__time{
  display: inline-block;
  background-color: #FE7D34;
  background-image: url(../img/Vector.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  padding: 6px 6px 6px 30px ;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
}

.delivery__price{
  display: inline-block;
  background-color: #00D008;
  background-image: url(../img/moto.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  padding: 6px 6px 6px 30px ;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
}

/*Footer*/

.footer{
  padding: 40px;
  margin-top: 100px;
  background: rgba(50, 50, 50, 1);
}

.footer__content{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__links a{
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.footer__social a{
  margin-right: 20px;
}